{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.title }}" class="img-fluid rounded shadow insta-square">
            {% endif %}
        </div>
        <div class="col-md-6 mt-3">
            <h1 class="display-4">{{ service.name }}</h1>
            <p class="lead">{{ service.description }}</p>
            <p><strong><i class="fa-solid fa-coins"></i> Price:</strong> €{{ service.price }}</p>
            <p><strong><i class="fa-regular fa-clock"></i> Duration:</strong> {{ service.duration }} minutes</p>

            {% if service.special_offer %}
                <p><strong>Special Offer:</strong> {{ service.special_offer }}</p>
            {% endif %}

            <a href="{% url 'service_list' %}" class="btn btn-lg btn-light mt-4"><i class="fa-solid fa-arrow-left"></i> Back To Services</a>
            <a href="#" class="btn btn-service btn-lg mt-4"><i class="fa-regular fa-calendar"></i> Book Now</a>
        </div>
    </div>
</div>
{% endblock %}
